<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: (visible()) -->
    <div data-bind="html: html()"></div>
    <br/>
    <!-- ko foreach: { data: address().customAttributes, as: 'element' } -->
        <!-- ko foreach: { data: Object.keys(element), as: 'attribute' } -->
            <!-- ko if: (typeof element[attribute] === "object") -->
                <!-- ko text: element[attribute].value --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: (typeof element[attribute] === "string") -->
                <!-- ko text: element[attribute] --><!-- /ko -->
            <!-- /ko --><br/>
        <!-- /ko -->
    <!-- /ko -->
<!-- /ko -->
